body{
    background: url('hotelbg.jpeg') center;
    background-repeat: no-repeat;
    background-size:cover;
}
.login-content {
    background-color: rgba(206,151,40,0.75) !important;
    -moz-box-shadow: 0px 0px 20px 15px rgba(206,151,40,0.75);
    box-shadow: 0px 0px 20px 15px rgba(206,151,40,0.75);
    background: rgba(206,151,40,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(224, 160, 31, 0.25);
}
.login-btn {
    
    background-color: #9a5302 !important;
}
.signup:hover{
    text-decoration: none;
}
#email{
    width: 400px;
}

.container{
    border: solid;
}
